* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: auto;
    background-color: #000;
    color: #fff;
}

.container {
    padding-inline: 20px;
}

.navbar {
    background-color: #141414;
}

.navbar .container {
    padding: 10px 20px;

}

.navbar-logo {
    color: red;
    font-size: 2rem;
    font-weight: 600;
    opacity: 0;
    animation: slideRight 2s ease forwards;
}

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.navbar-content {
    max-width: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.navbar button {
    background: transparent;
    color: #fff;
    border: none;
    font-size: 1.2rem;
}

.FAQ .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.FAQ .heading {
    font-size: 3.5rem;
    font-weight: 600;
    margin: 40px 0px 5px 0px;
    opacity: 0;
    animation: slideTop .6s ease forwards;
    animation-delay: .5s;
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.heading span {
    color: red;
}

.FAQ p {
    max-width: 550px;
    opacity: 0;
    animation: slideTop .6s ease forwards;
    animation-delay: .7s;
}

p {
    color: #B3B3B3;
    word-spacing: 2px;
    font-size: 1.1rem;
    line-height: 1.6;
}

.question .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.question-items {
    display: flex;
    align-items: center;
    width: 85%;
    background: transparent;
    font-size: 1.6rem;
    border: 1px solid gray;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 25px;
    opacity: 0;
    animation: slideRight .6s ease forwards;
    animation-delay: calc(.1s * var(--i));
    animation-delay: 1s;
}

.question-items:hover {
    background-color: #141414;
}

details {
    padding: 20px;
    width: 100%;
}

details p {
    margin: 30px 0px 10px 0px;
}

summary {
    list-style: none;
    cursor: pointer;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

summary i {
    color: red;
}

summary:hover {
    color: red;
}

summary::-webkit-details-marker {
    display: none;
}

.icon {
    transition: .3s ease;
}

details[open] .icon {
    transform: rotate(45deg);
}

.signin .container {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.form-content {
    width: 85%;
    min-height: 300px;
    background: #141414;
    border-radius: 10px;
    border: 1px solid #262626;
    padding: 50px 25px;
    margin: 80px 0px 100px 0px;

}

.form-content:hover {
    border-color: #E50914;
    box-shadow: 0 0 10px red;
}

.form-content h2 {
    font-weight: 600;
    font-size: 2.5rem;
    margin-bottom: 15px;
}

.form-content p {
    margin-bottom: 15px;
    font-size: 1rem;
}

form {
    display: flex;
    justify-content: center;
    gap: 10px;
}

form input {
    max-width: 456px;
    width: 100%;
    height: 55px;
    padding-left: 10px;
    background-color: #0a0909;
    border: 1px solid #262626;
    color: #fff;
    border-radius: 3px;
    font-size: 0.9rem;
}

form input:focus {
    border: 2px solid #fff;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, .35);
}

form button {
    max-width: 171px;
    width: 100%;
    background-color: red;
    border: 1px solid red;
    border-radius: 3px;
    color: #fff;
    font-size: 1.3rem;
    transition: .3s;
}

form button:hover {
    background: #c40000;
    border-color: #c40000;
}

footer {
    background-color: #141414;
    padding: 40px 0px 80px 0px;
}

.footer-logo h2 {
    color: red;
    font-size: 1.8rem;
    font-weight: 600;
    padding: 40px 0px 0px 0px;
}

.footer-logo p {
    margin-bottom: 50px;
    font-size: 1rem;
    color: #fff;
}

.footer-item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

footer ul {
    padding-left: 0px;
    margin: 0px;


}

footer ul li {
    padding: 10px 0px;
    list-style: none;

}

footer a {
    color: #B3B3B3;
    font-weight: 600;
    text-decoration: none;

}

footer a:hover {
    text-decoration: underline;
    color: #fff;
}

@media(max-width:768px) {
    .FAQ .heading {
        font-size: 2.3rem;
    }

    .container p {
        font-size: 1rem;
    }

    .question-items summary {
        font-size: 1.4rem;
    }

    form {
        flex-direction: column;
    }

    form input {
        width: 100%;
    }

    form button {
        max-width: 380px;
        width: 100%;
    }

    .form-content h2 {
        font-size: 2.3rem;
    }

    .footer-item {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media(max-width:480px) {
    .navbar-logo {
        font-size: 1.5rem;

    }

    .navbar-content {
        max-width: 65px;
        width: 100%;
    }

    .navbar button {
        font-size: 1.1rem;

    }

    .question-items summary {
        font-size: 1.3rem;
    }

    .form-content h2 {
        font-size: 2rem;
    }

    form button {
        font-size: 1.2rem;
    }

    .footer-item {
        grid-template-columns: 1fr;
    }

    .footer-logo {
        font-size: 1.5rem;
    }

    .footer-logo p {
        margin-bottom: 50px;
        font-size: .9rem;
    }

    footer ul li {
        padding: 7px 0px;
    }

    footer a {
        font-size: .8rem;
    }
}