* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: auto;
    background-color: rgb(8, 11, 11);
    color: #fff;
}

.container {
    padding-inline: 20px;
}

a {
    text-decoration: none;
}

p {
    word-spacing: 4px;
    color: #B3B3B3;
    font-size: 17px;
}

.navbar {
    height: 90px;
    background-color: #000;

}

.navbar-logo {
    color: red;
    font-size: 2rem;
    font-weight: 600;
    opacity: 0;
    animation: slideRight 2s ease forwards;
}

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.navbar-content {
    max-width: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.navbar button {
    background: transparent;
    color: #fff;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}

.heading h1 {
    font-size: 3.5rem;
    font-weight: 600;
    max-width: 600px;
    margin: 40px 0px 20px 0px;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: .8s;

}

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

h1 span {
    color: red;
}

.valuation-container {
    background: #141414;
    border: 1px solid #262626;
    display: flex;
    justify-content: space-around;
    max-width: 520px;
    height: 100px;
    padding: 10px;
    align-items: center;
    border-radius: 2px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: .8s;
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.valuation-box {
    display: flex;
    flex-direction: column;
}

.valuation-box span {
    font-size: 40px;
}

.valuation-box strong {
    font-size: .9rem;
}

.download-report {
    display: flex;
    gap: 15px;
    margin-top: 20px;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: .8s;
}

.report {
    max-width: 250px;
    width: 100%;
    height: 40px;
    background-color: red;
    border: 1px solid red;
    border-radius: 3px;
    color: #fff;
}

.report:hover {
    background-color: #cb0909;
    border-color: #cb0909;

}

.report i {
    margin-right: 10px;
}

.letter {
    max-width: 150px;
    width: 100%;
    height: 40px;
    background-color: red;
    border: 1px solid red;
    border-radius: 3px;
    color: #fff;
}

.letter:hover {
    background-color: #cb0909;
    border-color: #cb0909;

}

.highlight-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 20px 0px 90px 0px;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: .8s;
}

.highlight-card {
    display: flex;
    flex-direction: column;
    padding: 35px 25px;
    background: #141414;
    border: 1px solid #262626;
    text-align: center;
    border-radius: 10px;

}

.highlight-card:hover {
    border-color: #E50914;
    box-shadow: 0 0 10px red;
}

.highlight-card strong {
    margin-bottom: 20px;
}

.highlight-card span {
    font-size: 50px;
}

.valuation-box strong:hover,
.valuation-box span:hover,
.highlight-card strong:hover,
.highlight-card span:hover,
.highlight-card p:hover {
    color: red;
}

.highlight-card p {
    margin-top: -10px;
    margin-bottom: 0px;
}

.financial h2 {
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: .8s;
}

.financial p {
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: .8s;
}

.financial h2,
.event h2 {
    font-weight: 600;
    font-size: 35px;
    margin: 90px 0px 10px 0px;
}

.event-container {
    margin-bottom: 100px;
}

.event-card {
    background: #141414;
    border: 1px solid #262626;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    margin-bottom: 20px;
}

.card-detail span {
    font-size: .9rem;
    margin-right: 15px;
}

.card-button button {
    padding: 5px 10px;
    background-color: red;
    border: 1px solid red;
    border-radius: 3px;
    color: #fff;
}

.card-button button:hover {
    background-color: #cb0909;
    border-color: #cb0909;
}

footer {
    background-color: #000;
    padding: 40px 0px 120px 0px;
}

.footer-logo h2 {
    color: red;
    font-size: 1.8rem;
    font-weight: 600;
    padding: 40px 0px 0px 0px;
}

.footer-logo p {
    margin-bottom: 50px;
    font-size: 1rem;
    color: #fff;
}

.footer-item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

footer ul {
    padding-left: 0px;
    margin: 0px;
}

footer ul li {
    padding: 10px 0px;
    list-style: none;

}

footer a {
    color: #B3B3B3;
    font-weight: 600;
    text-decoration: none;
    transition: .3s;

}

footer a:hover {
    text-decoration: underline;
    color: #fff;
}

@media(max-width:768px) {

    .heading h1 {
        font-size: 2.3rem;
    }

    p {
        font-size: 16px;
    }

    .heading h2,
    .event h2 {
        font-size: 1.7rem;
    }

    .highlight-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-item {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width:480px) {
    .navbar-logo {
        font-size: 1.5rem;

    }

    .navbar-content {
        max-width: 65px;
        width: 100%;
        margin: 5px 0px 0px 5px;
    }

    .navbar button {
        font-size: 1.1rem;

    }

    .valuation-box span {
        font-size: 25px;
    }

    .download-report {
        flex-direction: column;
    }

    .highlight-container {
        grid-template-columns: 1fr;
    }

    .card-detail h5 {
        font-size: 1.1rem;
    }

    .event-card {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }

    .footer-item {
        grid-template-columns: 1fr;
    }

    .footer-logo {
        font-size: 1.5rem;
    }

    .footer-logo p {
        margin-bottom: 50px;
        font-size: .9rem;
    }

    footer ul li {
        padding: 7px 0px;
    }

    footer a {
        font-size: .8rem;
    }
}