* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: auto;
    background-color: rgb(8, 11, 11);

}

html {
    scroll-behavior: smooth;
}

.container {
    padding-inline: 20px;
}

.Home {
    background-image: url(../Image/WhatsApp\ Image\ 2026-07-06\ at\ 4.15.13\ PM.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
    object-fit: cover;
    background-position: center;
}

.box {
    position: absolute;
    inset: 0;
    background: black;
    opacity: 0.70;
    min-height: 100vh;
}

header {
    position: absolute;
    width: 100%;
}

.navbar .container {
    position: relative;
    z-index: 2;
    padding: 10px 20px;
}

a {
    text-decoration: none;
}

p {
    word-spacing: 1px;
}

.logo {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 10px;
    padding-top: 5px;
}

.navbar-toggler-icon {
    filter: brightness(0) invert(1);
}

.navbar img {
    max-width: 165px;
    width: 100%;
    height: 35px;
}

.navbar-nav {
    padding: 0px 0px 0px 15px;
}

.nav-link {
    color: white;
    transition: .3s;
}

.nav-link:hover {
    color: red;
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    max-width: 120px;
    width: 100%;
}

.navbar button {
    background: transparent;
    color: white;
    border: none;
    padding: 0px 12px 4px 12px;
    cursor: pointer;
}

.navbar-content a {
    background-color: red;
    color: white;
    border: 1px solid red;
    border-radius: 3px;
    padding: 4px 12px;
    font-size: 0.9rem;
    font-weight: 600;
    transition: .3s;
}

.navbar-content a:hover {
    background: #c40000;
    border-color: #c40000;
}

.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    z-index: 2;
}

.center h1 {
    font-size: 4rem;
    font-weight: 800;
}

h1 span {
    color: red;
}

.center p {
    font-weight: 500;
    margin: 0px 0px 15px 0px;
    text-align: center;
}

form {
    display: flex;
    max-width: 646px;
    width: 100%;
    gap: 8px;
}

form input {
    max-width: 430px;
    width: 100%;
    height: 50px;
    padding-left: 10px;
    border-radius: 4px;
    background: transparent;
    color: white;
    border: 1px solid gray;
    font-size: 1rem;
}

form input:focus {
    border: 2px solid white;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, .35);
}

form button {
    max-width: 209px;
    width: 100%;
    height: 50px;
    border-radius: 3px;
    background-color: red;
    color: white;
    border: 1px solid red;
    font-size: 1.3rem;
    transition: .3s;
}

form button:hover {
    background: #c40000;
    border-color: #c40000;
}

.heading {
    font-size: 1.8rem;
    font-weight: 600;
    color: white;
    margin: 40px 0px 15px 0px;
}

.movie-container {
    display: flex;
    flex-direction: row;
    gap: 25px;
    overflow: auto;
    background: transparent;
}

::-webkit-scrollbar {
    display: none;
}

.movie {
    color: white;
    transition: 0.3s;
    margin: 20px 0px;
    cursor: pointer;
    transition: .3s ease;
}

.movie:hover {
    transform: translateY(-10px) scale(1.05);
}

.movie-container .movie:nth-child(1):hover {
    margin-left: 8px;
}

.movie img {
    width: 200px;
    height: 250px;

    border-radius: 5px;
    object-fit: cover;
}

.movie img:hover {
    border: 2px solid white;
}

.movie-name {
    margin: 5px 0px 0px 0px;
}

.movie-date {
    display: flex;
    gap: 10px;
    font-weight: 100;
}

.reasons-container {
    display: grid;

    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    margin: 30px 0px 70px 0px;
    background-color: transparent;
}

.reasons {
    background: linear-gradient(145deg, rgb(25, 34, 71), rgb(33, 14, 23));
    border-radius: 18px;
    min-height: 310px;
    padding: 30px 25px;
    color: white;
    position: relative;
    transition: .3s ease;
}

.reasons:hover {
    transform: translateY(-10px) scale(1.05);
}

.reasons h3 {
    font-size: 1.5rem;
    font-weight: 600;
}

.reasons-text {
    padding: 10px 0px;
    line-height: 1.5;
    color: rgb(220, 214, 214);
    margin-bottom: 0px;
}

.reasons .icons {
    position: absolute;
    font-size: 40px;
    right: 10px;
    bottom: 10px;
}

footer {
    background-color: #000;
    padding: 40px 0px 120px 0px;
}

.footer-logo {
    color: rgb(255, 0, 0);
    font-size: 1.8rem;
    font-weight: 600;
    padding: 40px 0px 30px 0px;
}

.footer-item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

footer ul {
    padding-left: 0px;
    margin: 0px;


}

footer ul li {
    padding: 10px 0px;
    list-style: none;

}

footer a {
    color: #eedada;
    font-weight: 600;

}

footer a:hover {
    text-decoration: underline;
    color: white;
}

footer select {
    max-width: 90px;
    width: 100%;
    height: 30px;
    padding: 3px 6px;
    font-size: 0.9rem;
    border-radius: 3px;
    background-color: transparent;
    color: white;
    margin: 30px 0px;
}

footer select option {
    background-color: blue;
}

footer p {
    color: #eedada;
    font-size: 0.8rem;
}

@media(max-width:991px) {
    .navbar img {
        max-width: 140px;
        width: 100%;
        height: 30px;
    }

    .center h1 {
        font-size: 3rem;
    }

    .reasons-container {
        display: grid;

        grid-template-columns: repeat(2, 1fr);
    }
}


@media(max-width:768px) {
    .navbar img {
        max-width: 120px;
        width: 100%;
        height: 25px;
    }

    .center h1 {
        font-size: 2.6rem;
    }

    form {
        flex-direction: column;
        align-items: center;
    }

    .heading {
        font-size: 1.5rem;
    }

    .movie img {
        width: 180px;
        height: 230px;
    }

    .reasons-container {
        display: grid;

        grid-template-columns: 1fr;
    }

    .reasons {

        min-height: 240px;

    }

    .reasons .icons {
        font-size: 30px;
    }

    .footer-item {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}


@media(max-width:480px) {
    .center h1 {
        font-size: 1.7rem;
    }

    form button {
        max-width: 150px;
        width: 100%;
        font-size: 1.2rem;
    }

    .heading {
        font-size: 1.3rem;
    }

    .footer-logo {
        font-size: 1.5rem;
    }

    .movie img {
        width: 150px;
        height: 200px;
    }

    .footer-item {
        display: grid;
        grid-template-columns: 1fr;
    }

    footer ul li {
        padding: 7px 0px;
    }

    footer a {
        font-size: .8rem;
    }

    footer p {
        font-size: 0.7rem;
    }
}